// ==== Select 2 ====
.select2-container--bootstrap-5 .select2-selection--multiple .select2-selection__rendered .select2-selection__choice{
    display: inline-block;
}

.select2-container--bootstrap-5.select2-container--open .select2-selection{
    box-shadow: none;
}

.select2-container--bootstrap-5 .select2-selection{
    border-radius: 0;
    border: none ;
    border-bottom: 1px solid $secondary !important;
}

// ==== Dropzone ====
.dropzone{
   border: 1px solid $light;
   background: $light;
}

.file-upload-icon{
    font-size: 50px;
}


// ====== DataTable Css ======
.dataTables_filter{
   .form-control{
       border: none;
       border-bottom: 1px solid $light !important;
       border-radius: 0px;
       padding: 5px 1px;
       transition: .3s;

       &:focus{
           box-shadow: none;
           border-bottom-color: $primary !important;
       }
   }
}



mark {
   background: orange;
   color: black;
}

.table > tbody{
   font-size: 15px;
}

@media screen and (max-width: 767px) {
   div.dataTables_wrapper div.dataTables_length,
   div.dataTables_wrapper div.dataTables_filter,
   div.dataTables_wrapper div.dataTables_info,
   div.dataTables_wrapper div.dataTables_paginate {
       text-align: left;
   }

   div.dataTables_filter {
       margin: 15px 0px;
   }

   div.dataTables_wrapper div.dataTables_paginate ul.pagination {
       justify-content: start !important;
       margin-top: 25px;
   }

    div.dataTables_wrapper div.dataTables_paginate ul.pagination li:not(:first-child):not(:last-child){
        display: none;
    }

//    .dataTables_paginate .page-item{
//        display: none;
//    }

}

// === Flat Time Picker ===
.daterangepicker, .flatpickr-calendar{
    margin-top: -55px !important;
    z-index: 2000 !important;
}

// =========== Sweet Alert2 ============
.swal2-title{
    font-size: 20px !important;
}


