// Fonts
@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&family=Roboto:wght@100;300;400;500;700&display=swap');

$font-family-sans-serif: 'Roboto', 'Padauk';
// $primary: #6675df;
$light: #f1f2f7;
$semi-light: #f3f6f9;
$dark: #353c48;
$border-radius: 0px;

// ==== Bootstrap & Other Libraries ====
@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~flatpickr/dist/flatpickr.min.css';
@import '~select2-bootstrap-5-theme/dist/select2-bootstrap-5-theme.min.css';
@import "~sweetalert2/src/sweetalert2.scss";
@import './select2.css';
@import './datatable-b5.css';
@import "~bootstrap-pincode-input/css/bootstrap-pincode-input.css";
@import '~dropzone/dist/dropzone.css';
@import "~viewerjs/dist/viewer.css";

// ==== Custom Scss ====
@import './sidebar';
@import './emp';
@import './other-library';

// ==== Global Css ====
.card{
    border-radius: 10px;
    border: none;
}

.btn-sm{
    font-size: 12px;
}

.py-8{
    padding-top: 80px;
    padding-bottom: 80px;
}

.mb-7{
    margin-bottom: 70px;
}

.mt-m-2{
    margin-top: -2px;
}

.emp-card .form-floating > label{
    padding-left: 0px;
}

.att-table tbody tr {
    line-height: 3;
}

// Profile
.profile-img{
    width: 135px;
    height: 135px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-btn{
    cursor: pointer;
    position: absolute;
    left: 0;
    right: 0;
    top: 169px;
    z-index: 1999;
}

.profile-thumbnail{
    width: 40px;
}

.table-payroll :not(caption) > * > *{
    padding: 1rem 0.5rem !important;
}

.preview_img img {
    border-radius: 5px;
    width: 100px;
    object-fit: cover;
    margin: 3px;
}

.emp-profile {
    width: 90px;
    height: 150px;
    border-radius: 5px;
}

// Thumbanil
.leader-thumb-1, .member-thumb-1{
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 10px;
}

.leader-thumb-2, .member-thumb-2{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    margin-left: -15px;
}

.member-thumb-2{
    width: 30px;
    height: 30px;
}

.leader-thumb-2:first-child{
    margin-left: 0;
}

.member-thumb-2:first-child{
    margin-left: 0;
}

.pdf-thumbnail {
    background: #fff;
    width: 60px;
    height: 75px;
    border-radius: 10px;
    border: 1px solid #ddd;
    padding: 10px;
    margin: 3px;
    display: inline-block;
    text-align: center;
    color: #000;

    i {
        font-size: 30px;
    }
}



